/*!***************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/paymentEstimator/styles/cadillac.scss ***!
  \***************************************************************************************************************************************************************************/
.cv-pe-tabs,
.cv-pe-tabs__panel--selected {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cv-pe-tabs__tablist {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cv-pe-tabs__tab {
  padding: 20px;
  text-align: center;
}

.cv-pe-tabs__tab:not(.cv-pe__tab--active) {
  cursor: pointer;
}

.cv-pe-selector__container {
  display: flex;
  padding-bottom: 20px;
}

.cv-pe-selector__details-container {
  padding-left: 20px;
  width: 66.66%;
}

.cv-pe-selector__header-container {
  display: flex;
  justify-content: space-between;
}

.cv-pe-dropdown-container {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

.cv-pe-dropdown__selection {
  padding: 10px;
}

.cv-pe-dropdown__label {
  min-width: 250px;
}

.cv-pe-cta__container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;
  row-gap: 20px;
}

.cv-pe-selector__header {
  font-family: CadillacSans, Arial, Helvetica, sans-serif;
  color: #252f32;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 3.125rem;
  letter-spacing: 0.214rem;
  line-height: 3.75rem;
}
.cv-pe-selector__description {
  font-family: CadillacSans, Arial, Helvetica, sans-serif;
  color: #252f32;
  font-weight: 300;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: 0.072rem;
  line-height: 1.625rem;
}
.cv-pe-dropdown__label {
  font-family: CadillacSans, Arial, Helvetica, sans-serif;
  color: #252f32;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.071rem;
  line-height: 1.25rem;
}
.cv-pe-dropdown__selection {
  font-family: CadillacSans, Arial, Helvetica, sans-serif;
  color: #252f32;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.071rem;
  line-height: 1.25rem;
}
